{
  "semi": false,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["src/pages/home/scroll.ts", "src/utils/utils.ts"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
