{
  "semi": false,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": [
        "src/pages/home/scroll.ts",
        "src/utils/utils.ts",
        "src/pages/home/content.tsx"
      ],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
