@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .body__container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .body__container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .clippy {
    clip-path: circle(90% at 50% -170%);
  }
}
