@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .body__container,
  .scrollArea {
    ms-overflow-style: none; /* -Internet Explorer 10+  */
    scrollbar-width: none; /*Firefox*/
  }

  .body__container::-webkit-scrollbar,
  .scrollArea::-webkit-scrollbar {
    display: none; /*Safari and Chrome*/
  }

  .clippy {
    clip-path: circle(90% at 50% -170%);
  }

  .scrollArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .collections h2,
  .collections p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: "Zen Kurenaido";
    font-size: 10vw;
    white-space: nowrap;
    color: white;
  }

  .collections div {
    margin-top: 40%;
  }

  .collections p {
    font-size: 2vw;
    word-break: break-all;
    vertical-align: middle;
    margin-top: 15%;
    margin-left: 20%;
    text-align: center;
    /* width: 1em;
    height: 1em; */
  }

  .collection__btn {
    position: absolute;
    bottom: 3%;
    left: 50%;

    transform: translateX(-50%);
    width: 20vw;
    height: 10vh;
  }

  .collection__btn:hover .hover-path {
    stroke-dashoffset: 0;
    transition: 0.4s ease-in-out;
  }

  .collection__btn:hover .button-text {
    transform: rotateX(360deg);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
}
